<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Detalles De Usuario</title>
		
		<!--css-->
		<link type="text/css" rel="stylesheet" href="/css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--bootstrap-->
	   
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>
	<div id="header">
		
		<a href="/"  id="logo-img"><img class="ui image" src="/images/logo3.png"></a>
		<p > Agregar Usuario </p >	
	</div>
	<div>
		<form action= "/agregarUsuario">
			<label for="nombre">Nombre:</label>
			<input type="text" name="nombre"/>
			<label for="apellido">Apellido:</label>
			<input type="text" name="apellido"/>
			<label for="contraseña">Contraseña:</label>
			<input type="text" name="contraseña"/>
	
			<input type="submit" value="enviar"/>
		</form>
	</div>
</body>
</html>