<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		
		<!--css-->
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		 <div class="ui grid">
                <a href="/" class="row" id="logo-img"><img class="ui image" src="/images/logo1.png"></a>
		 </div>
		<div>
			<a href="/modulo_gestion_usuarios">
			<button class="indexBotones" id="GestionUsuarios">Modulo de gestion de Usuarios</button>
			</a>
		
			<button type="submit" class="indexBotones" id="GestionEstacion">Modulo de gestion de estación de bicicletas</button>
		
			<button type="submit" class="indexBotones" id="GestionBicis">Gestion de bicicletas y su ciclo de vida</button>
		</div>	
	</body>
</html>	