<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>INDEX</title>
		
		<!--css-->
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<!--bootstrap-->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="portada" id="portada">
			<div  style="margin-left: 620px;" class="inicio">
                <a href="/" class="row" id="logo-img-blanco"><img class="ui image" src="/images/logo1.png"></a style="margin-left: 50px;">
		 	</div>
			<div class="menu_botones">
				<div class="panel panel_gestion_usuarios">
					<div class="dentro_panel">
					<p id="cabecera">GESTION DE USUARIOS DE LA PLATAFORMA</p>
					<div id="linea"></div>
					<img id="logos_menu" src="/images/logoUsuarios.png">
					<div id="boton_falso"><a id="acceder" href="/gestionUsuarios">ACCEDER</a></div id="boton_falso">
					</div>
				</div>
				<div class="panel panel_gestion_estaciones">
					<div class="dentro_panel">
					<p id="cabecera">GESTION DE ESTACION DE BICICLETAS</p>
					<div id="linea"></div>
					<img id="logos_menu" src="/images/logoGestionBicis.png">
					<div id="boton_falso"><a id="acceder" href="/gestionEstaciones">ACCEDER</a></div id="boton_falso">
					</div>
				</div>
				<div class="panel panel_gestion_bicis">
					<div class="dentro_panel">
					<p id="cabecera">GESTION DE BICICLETAS Y SU CICLO DE VIDA</p>
					<div id="linea"></div>
					<img id="logos_menu" src="/images/logoBicicletas.png">
					<div id="boton_falso"><a id="acceder" href="/gestionBicicletas">ACCEDER</a></div id="boton_falso">
					</div>
				</div>
			</div class="menu_botones">
		</div>
	</body>
</html>	