<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Asignar Estacion</title>
		
		<!--css-->
		<link type="text/css" rel="stylesheet" href="/css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--bootstrap-->
	   
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>
	<div id="header">
		
		<a href="/"  id="logo-img"><img class="ui image" src="/images/logo3.png"></a>
		<p > ASIGNAR ESTACIÓN</p >
				
	</div>

		<div class="estaciones_disponibles">
			{{#estaciones_act}}
				<div class="estaciones">
					<div class="cabe">
						<p>ESTACIÓN: {{numeroSerie}}</p><br>
						<a href="/gestionEstaciones/{{id}}"  id="mapa-img"><img class="ui image" src="/images/mapa.png"></a>
					</div class="cabe">
					<div class="cuerp">
						<p> Capacidad: {{capacidad}}<p>
						<br>
						<p> Estado: {{estado}}<p>
						<br>
						<button type="button" class="btn-dtl" onclick="location.href='/asignarEstacion/{{id}}/{{id_b}}'">ASIGNAR</button type="button">
					</div>
				</div>
			{{/estaciones_act}}
			{{#estaciones_act_llena}}
				<div class="estaciones">
					<div class="cabe">
						<p>ESTACIÓN: {{numeroSerie}}</p><br>
						<a href="/gestionEstaciones/{{id}}"  id="mapa-img"><img class="ui image" src="/images/mapa.png"></a>
					</div class="cabe">
					<div class="cuerp">
						<p> Capacidad: {{capacidad}} {{completa}}<p>
						<br>
						<p> Estado: {{estado}}<p>
						<br>
						<button type="button" class="btn-off">ASIGNAR</button type="button">
					</div>
				</div>
			{{/estaciones_act_llena}}
			{{#estaciones_inact}}
				<div class="estaciones">
					<div class="cabe">
						<p>ESTACIÓN: {{numeroSerie}}</p><br>
						<a href="/gestionEstaciones/{{id}}"  id="mapa-img"><img class="ui image" src="/images/mapa.png"></a>
					</div class="cabe">
					<div class="cuerp">
						<p> Capacidad: {{capacidad}}<p>
						<br>
						<p> Estado: {{estado}}<p>
						<br>
						<button type="button" class="btn-off">ASIGNAR</button type="button">
					</div>
				</div>
			{{/estaciones_inact}}
		</div>
</body>
</html>