<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Agregar Usuario</title>
		
		<!--css-->
		<link type="text/css" rel="stylesheet" href="/css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--bootstrap-->
	   
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>
	<div id="header">
		
		<a href="/"  id="logo-img"><img class="ui image" src="/images/logo3.png"></a>
		<p >AGREGAR USUARIO</p >	
	</div>
	<div id="header-boton">
		
			<a href="/gestionUsuarios"  id="back-img"><img class="ui image" src="/images/back-arrow.png"></a>
		
		</div>
	<div id="formAgregar">
		<form class="form" action= "/agregarUsuario">
				<div  id= "agregar">
					<label  for="nombre">Nombre:&nbsp &nbsp &nbsp &nbsp &nbsp</label id="labelAgregarUsuario">
					<input  type="text" name="nombre"/>
				</div>
				
				<div id= "agregar" >
					<label  for="apellido">Apellido:&nbsp &nbsp  &nbsp&nbsp &nbsp&nbsp</label>
					<input id= "agregar" type="text" name="apellido"/>
				</div id= "agregar">
				
				<div id= "agregar">
					<label  for="contraseña">Contraseña:&nbsp&nbsp&nbsp</label>
					<input id= "agregar" type="text" name="contraseña"/>
				
				</div>
				<input type="submit" class="btn-dtl" value="Enviar"/>
	</div>
	
	
</body>
</html>