<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Gestion De Usuarios</title>
		
		<!--css-->
		<link type="text/css" rel="stylesheet" href="css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--bootstrap-->
	   
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>
	<div id="header">
		
		<a href="/"  id="logo-img"><img class="ui image" src="/images/logo3.png"></a>
		<p > GESTIÓN DE USUARIOS </p >
				
	</div>
	

	<div id="header-boton" >
		<a href="/"  id="back-img"><img class="ui image" src="/images/back-arrow.png"></a>
		
		<button type="button" class="btn-dtl" onclick="location.href='/agregarUsuarios'">Agregar Usuario</button>
		
			
	</div id="header-boton">
		
	<div class="listado_usuarios">
			
			<section>
				<table class="table" >
					<thead>
						<tr >
							<td id= "tabla">IDENTIFICADOR</td>
							<td id="tabla">NOMBRE</td>
							
							<td id="tabla"> ESTADO</td>
							
							<td id="tabla"> ACCIONES</td>
						</tr>
					<thead>
					{{#usuario}}
					<tbody>
						<tr>
							<td id ="fila_tabla">{{id}} </td>
							<td id ="fila_tabla">{{nombre}} {{apellido}} </td>
							
							<td id ="fila_tabla">{{estado}}</td>
							<td id ="fila_tabla">
							<button type="button" class="btn-dtl" onclick="location.href='/gestionUsuarios/{{id}}'">Detalles</button>	
							

							<button type="button" class="btn-dtl" onclick="location.href='/editarUsuario/baja/{{id}}'">Dar de baja</button>	
							<button type="button" class="btn-dtl" onclick="location.href='/editarUsuario/alta/{{id}}'">Dar de alta</button>	
							
							</td>
							

						</tr>
					</tbody>
					{{/usuario}}
				</table>
			
			</section>
		</div>
    
</body>
</html>