*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
	background-color: rgb(53, 53, 53);
	
}
body{background-color: rgb(53, 53, 53);}
.boton{
	height: 8em;
    width:	12em;
    font-family:Gill Sans MT;
    font-size:1.5em;
    color: ghostwhite;
    background-color: #CB0017;
    border-width: 0.25em;
    border-radius: 0.25em;
   
    display:block;
    text-align: center;
   
    margin-top: 1em;
    
    position:relative;
    top:3em;
    left:40% ;
    
}

.boton:hover{
	height: 8em;
    width:	12em;
    font-family:Gill Sans MT;
    font-size:1.5em;
    color: ghostwhite;
    border:1em solid;
    border-color: rgb(0, 0, 0);
    background-color: #CB0017;
    border-width: 0.15em;
    border-radius: 0.15em;
  
    display:block;
    text-align: center;
    margin-top: 1em;
    
    position:relative;
    top:3em;
    left:40%;
}
#logo-img {
    width: 100%;
}

#logo-img img {
    width: 15%;
    margin: auto;
    padding-top: 1em;
}



