*{
	margin: 0;
	padding: 0;

}
body{
	background: rgb(128, 128, 128);
	color: #363639;
}

/*PAGINA PRINCIPAL*/
.menu_botones{
	text-align: center;
}
.panel{
	height: 300px;
	width: 300px;
	
	display: block;
	text-align: center;
	position: relative;
	
	margin: 0px auto;
	
	float: left;
	left: 18%;
	margin-top:3em;
	margin-right:2em;
	
	
}
.dentro_panel{
	height: 300px;
	width: 300px;
	background: rgb(245, 245, 245);
	
	border-top: 2.25px solid #CB0017;
	
	box-shadow: 6px 5px 10px rgb(170, 170, 170);
}
#cabecera{
	background: rgb(245, 245, 245);
	font-family:Gill Sans MT;
    font-size:1.5em;
    color: #CB0017;
}
#linea{
	background-color:rgb(70, 70, 70);
	height:0.25px;
	width: 280px;
    
    position:absolute;
    margin-left: 10px;
    margin-right: 10px;
}
#logos_menu{
	background-color: rgb(245,245,245);
	
	margin-top: 15px;
	margin-bottom: 15px;
}
#acceder{
	color:white;
}
#boton_falso{
	height: 30px;
    width:	120px;
    
    font-family:Gill Sans MT;
    font-size:1.5em;
    background-color: #CB0017;
   
    display:block;
    text-align: center;
   	
    margin-top: 1em;
    
    left:30% ;
    
    position:absolute;
}

#boton_falso:hover{
	height: 30px;
    width:	120px;
    
    font-family:Gill Sans MT;
    font-size:1.5em;
    background-color: #CB0017;
   
    display:block;
    text-align: center;
   	
    margin-top: 1em;
    
    position:relative;
    left:30% ;

    border:1px solid;
    border-color: rgb(0, 0, 0);
    
    position:absolute;
}
#logo-img {
    width: 100%; 
}

#logo-img img {
    width: 15%;
    margin: auto;
    padding-top: 1px;
    background-color: rgb(0, 0, 0);   
}
#header-boton{
	
    display:inline;
    position:relative;
    
}
#back-img {
    width: 100%; 
}

#back-img img{
	width: 10%;
    margin: auto;
    padding-top: 3px;
}

/*MODULO DE GESTION DE USUARIOS*/
#header-boton{
	display:flex;
	margin-right:47%;
}
#header-boton .btn-dtl{
	
	
	margin:1em  auto 1em 1em;
}



#header{
    background-color: #CB0017;   
    
    
}

#header p{
	background-color: #CB0017;
	
    font-family:Gill Sans MT;
    font-size:2em;
    color: ghostwhite;
    display:inline;
    position:relative;
    left:25%;
    
}

.up{
	font-family: Gill Sans MT;
	font-size: 3em;
	color: white;
	background-color: #CB0017;
	
	display:inline;
    text-align: center;
    
    position:relative;
}


#tabla{
	font-family: Helvetica Light;
	
 
  margin-left:20%;
  
    text-align: center;
}

#fila_tabla{
	font-family: Helvetica Light;
	font-size:black;
	margin-top:10px;
 
    text-align: center;
}
#fila_tabla_editarUser{
	font-family: Helvetica Light;
	font-size:black;
	margin-top:10px;
    border:none;
    text-align: left;
    margin-right:1em
}

#columna_tabla_editarUser{
	text-align: left;
}
#tabla_editarUsuario{
	
	margin-top: 30px;
	
}


.btn-dtl{
	height: 3em;
    width:	6em;
    font-family:Gill Sans MT;
    font-size:1em;
    color: ghostwhite;
    background-color: #CB0017;
    
    margin-top:0em;
    
    display: inline-table;
    text-align:center;
}

#acciones{
	display:flex;
}
#acciones .btn-dtl{
	margin:1em  auto 1em auto;
}
.btn-dtl:hover{
	height: 3em;
    width:	6em;
    font-family:Gill Sans MT;
    font-size:1em;
    color: ghostwhite;
    border:3px solid;
    border-color: rgb(0, 0, 0);
    background-color: #CB0017;
    
    margin-top:0em;
    
    display:inline-table;
    text-align:center;
}
#editarUsuario {
	font-family: Helvetica Light;
	font-size:black;
	
	margin-top:0.5em;
    
    text-align: center;
}


#formAgregar{
	margin-top:20px;
	margin-left:40%;
	
}
#agregar{
	margin-top:20px;
	margin-bottom:20px ;
}

/*MODULO DE GESTION DE ESTACIONES*/

.mapa{
	
	display: block;
	text-align: center;
	position: relative;
	
	margin: 0px auto;
	
	float: left;

	margin-top:3em;
	margin-left: 3em;
}
.dentro_parte{
	height: 400px;
	width: 400px;
	background: white;
	
	border: 1.5px solid black;
	
	
	box-shadow: 6px 5px 10px rgb(180, 180, 180);
}
.dentro_parte p{
	color: black;
	font-family: Gill Sans MT;
	font-size:2em;
    display:inline;
    position:relative;
}

.detalles_bici {
	width: 1000px;
	background-color: white;
	border: 1.5px solid black;
	border-radius: 2em;
	
	display: block;
	position: relative;
	
	margin: 0px auto;
	
	float: left;
	margin-top:3em;
	margin-right:2em;
	margin-left:2em;
	margin-bottom: 2em;
	text-align:center;
	
	box-shadow: 6px 5px 10px rgb(180, 180, 180);
}
.detalles_bici p{
	color: black;
	font-family: Gill Sans MT;
	font-size:2em;
    display:inline;
    position:relative;
}

#bici-img img{
	width: 20px;
	height: 20px;
    margin: auto;
    padding-top: 1px;
}

/* MODULO DE BICIS */

.transiciones {
	height: 400px;
	width: 1000px;
	background-color: white;
	border-radius: 2em;
	
	display:inline;
    position:relative;
	
	margin: 0px auto;
	
	float: left;
	margin-top:3em;
	margin-right:2em;
	margin-left:18em;
	margin-bottom: 2em;
	text-align:center;
	
	border-top: 2.25px solid #CB0017;
	
	box-shadow: 0px 0px 15px rgb(180, 180, 180);
}
.transiciones p{
	color: #CB0017;
	font-family: Gill Sans MT;
	font-size:2em;
    display:inline;
    position:relative;
}

.estados p{
	color: rgb(80, 80, 80);
	font-family: Gill Sans MT;
	font-size:1.4em;
	
	line-height: 3.25em;
}

.estaciones{
	height: 300px;
	width: 300px;
	background-color: white;
	
	border-top: 2.5px solid black;
	border-bottom: 2.5px solid black;
	border-radius: 2em;
	
	display:inline;
    position:relative;
	
	margin: 0px auto;
	
	float: left;
	margin-top:2em;
	margin-right:2em;
	margin-left:2em;
	text-align:center;
	
	box-shadow: 0px 0px 20px rgb(120, 120, 120);
}

.estaciones p{
	color : rgb(70, 70, 70);
	font-family: Gill Sans MT;
	font-size:1.5em;
    display:inline;
    position:relative;
    line-height:80%;
	
	margin-top: 2em;
	
	line-height: 1em;
}
.cabe{
	margin-top:1em;
	margin-bottom: 4em;
}
.cabe p{
	color: black;
	font-family: Gill Sans MT;
	font-size:2em;
}

.cuerp p{
	line-height: 1.5em;
}

#mapa-img img{
	width: 15%;
    margin: auto;
    padding-top: 1px;
}

#boton_estacion{
	bottom: -5em;
}

.btn-off{
	height: 3em;
    width:	6em;
    font-family:Gill Sans MT;
    font-size:1em;
    color: ghostwhite;
    background-color: rgb(70,70,70);
    
    margin-top:0em;
    
    display: inline-table;
    text-align:center;
}

/* PAGINA DE FALLOS Y ERRORES */

.cuerpo_fallo{
	background: #434343;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:100px;
				
	font-family:'Gill Sans MT';
	margin:0;
	padding:0;
	box-sizing:flex;
	margin-top:100px;
}
#container-404{
	text-align:center;
	width:100%;
	max-width:400px;
	background: #fff;
	padding: 20px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
	border-radius: 5px;
	line-height:1.7;
	color: #434343;
}
#boton-volver{
	display: inline-block;
	margin-top: 15px;
	text-decoration: none;
	background: #CB0017;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
}


