*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #EFEFEF;
	color: #363639;
}
.boton{
	height: 8em;
    width:	12em;
    font-family:Gill Sans MT;
    font-size:1.5em;
    color: ghostwhite;
    background-color: #CB0017;
    border-width: 0.25em;
    border-radius: 0.25em;
   
    display:block;
    text-align: center;
   
    margin-top: 1em;
    
    position:relative;
    top:3em;
    left:40% ;
    
}

.boton:hover{
	height: 8em;
    width:	12em;
    font-family:Gill Sans MT;
    font-size:1.5em;
    color: ghostwhite;
    border:1em solid;
    border-color: rgb(0, 0, 0);
    background-color: #CB0017;
    border-width: 0.15em;
    border-radius: 0.15em;
  
    display:block;
    text-align: center;
    margin-top: 1em;
    
    position:relative;
    top:3em;
    left:40%;
}
#logo-img {
    width: 100%;
     
}

#logo-img img {
    width: 15%;
    margin: auto;
    padding-top: 1px;
    background-color: rgb(255,255, 255);   
}
#logo-img img {
    width: 15%;
    margin: auto;
    padding-top: 1px;
    background-color: rgb(0, 0, 0);   
}

/* DENTRO DE MODULO DE GESTION DE USUARIOS*/
.up{
	font-family: Gill Sans MT;
	font-size: 3em;
	color: white;
	background-color: #CB0017;
	
	display:inline;
    text-align: center;
    
    position:relative;
}
#header{
    background-color: #CB0017;   
    
    
}

	
#header p{
	
    font-family:Gill Sans MT;
    font-size:2em;
    color: ghostwhite;
    display:inline;
    position:relative;
    left:25%;
    
}
#tabla{
	font-family: Helvetica Light;
	font-size:black;
	
	margin-top:0.5em;
    
    text-align: center;
}
#fila_tabla{
	font-family: Helvetica Light;
	font-size:black;
	
	margin-top:0.5em;
    
    text-align: center;
}
.btn-dtl{
	height: 3em;
    width:	6em;
    font-family:Gill Sans MT;
    font-size:1em;
    color: ghostwhite;
    background-color: #CB0017;
    
    margin-top:0em;
    
    display: inline-table;
    text-align:center;
}
.btn-dtl:hover{
	height: 3em;
    width:	6em;
    font-family:Gill Sans MT;
    font-size:1em;
    color: ghostwhite;
    border:0.20em solid;
    border-color: rgb(0, 0, 0);
    background-color: #CB0017;
    
    margin-top:0em;
    
    display:inline-table;
    text-align:center;
}




