<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Detalles De Estacion</title>
		
		<!--css-->
		<link type="text/css" rel="stylesheet" href="/css/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!--bootstrap-->
	   
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>
	<div id="header">
		
		<a href="/"  id="logo-img"><img class="ui image" src="/images/logo3.png"></a>
		<p > DETALLES DE LA ESTACIÓN </p >
				
	</div>
	<div id="header-boton">
	
			<a href="/gestionEstaciones"  id="back-img"><img class="ui image" src="/images/back-arrow.png"></a>

	</div>
	
	<div class="estacion">
			<section>
				<table class="table" >
					<thead>
						<tr >
							<td id= "tabla">IDENTIFICADOR</td>
							<td id="tabla">NUMERO DE SERIE</td>
							<td id="tabla">COORDENADAS</td>
							<td id="tabla"> CAPACIDAD</td>
							<td id="tabla"> ESTADO</td>
							<td id="tabla"> FECHA DE INSTALACION</td>
						</tr>
					<thead>
					{{#estaciones}}
					<tbody>
						<tr>
							<td id ="fila_tabla">{{id}} </td>
							<td id ="fila_tabla">{{numeroSerie}} </td>
							<td id ="fila_tabla">{{coordenadas}}</td>
							<td id ="fila_tabla">{{capacidad}}</td>
							<td id ="fila_tabla">{{estado}}</td>
							<td id ="fila_tabla">{{fechaInstalacion}}</td>
							<td id ="fila_tabla">
							<button type="button" class="btn-dtl" onclick="location.href='/gestionEstacion/editar/{{id}}'">Editar Localizacion</button>
							<td id ="fila_tabla">
							<button type="button" class="btn-dtl" onclick="location.href='/gestionEstacion/baja/{{id}}'">Dar de baja</button>	
							<button type="button" class="btn-dtl" onclick="location.href='/gestionEstacion/alta/{{id}}'">Dar de alta</button>	
							</td>
						</tr>
					</tbody>
					{{/estaciones}}
				</table>
			</section>
		</div>
		<div class="cuerpo">
				<div class="detalles_bici">
					<p>DETALLES DE LAS BICICLETAS</p>
					<div class="estacion">
						<section>
							<table class="table" >
								<thead>
									<tr >
										<td id="tabla">NUMERO DE SERIE</td>
										<td id="tabla">MODELO</td>
										<td id="tabla">FECHA DE ALTA</td>
										<td id="tabla"> INFO</td>
									</tr>
								<thead>
								<!-- falta por implementar lo relacionado con las bicis-->
								{{#bicicletas}}
								<tbody>
									<tr>
										<td id ="fila_tabla">{{numeroSerie}} </td>
										<td id ="fila_tabla">{{modelo}}</td>
										<td id ="fila_tabla">{{fechaAlta}}</td>
										<td id ="fila_tabla"><a href="/gestionBicicletas/{{id_b}}"  id="bici-img"><img class="ui image" src="/images/bici.png"></a></td>
										</td>
									</tr>
								</tbody>
								{{/bicicletas}}
							</table>
						</section>
					</div class="estacion">
				</div>
				<div class="mapa">
					<div class="dentro_parte">
					<p>UBICACIÓN</p>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.317622452166!2d-3.8783201820898303!3d40.33529954898465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e7adf68f543%3A0x841755428455a90b!2sUniversidad%20Rey%20Juan%20Carlos%20Campus%20M%C3%B3stoles!5e0!3m2!1ses!2ses!4v1649903348942!5m2!1ses!2ses" width="95%" height="88%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
		</div>
</body>
</html>